@import "tailwindcss";


.navbar{
    font-family: 'Garamond';
    @apply absolute top-0 left-0 right-0 flex flex-col justify-between items-center max-w-screen min-w-screen h-[100px] px-10 z-20 gap-1
}
.centerHeading{
    font-family: "Allura";
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    @apply text-3xl tracking-[10px] hidden md:block

}

.logo{
    @apply text-3xl text-white;
}
.navElements{
    font-family: "Allura";
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    @apply hidden lg:flex w-max h-full items-center gap-6; 
}
.navElement{
    @apply  relative text-white font-medium duration-500 transition-all text-nowrap uppercase text-[20px]
}

.navElement::after{
    @apply content-[""] bg-amber-300 w-full h-[3px] absolute bottom-[-5px] left-0 rounded-md opacity-0 transition-opacity duration-300
}
.navElement.active::after{
    @apply opacity-100;
}

.inputContainer{
    @apply max-w-[300px] h-8 relative text-black hidden lg:block
}

.inputContainer input{
    @apply lg:w-full h-full rounded-[40px] bg-white lg:px-8 py-2 pl-7 outline-0 w-[40px] placeholder-transparent lg:placeholder-gray-700
}
.inputContainer input:focus{
    @apply sm:w-full lg:placeholder-gray-700 pl-7
}

.searchIcon{
    @apply absolute top-[30%] left-2 
}

.hamburgerButton{
    @apply lg:hidden relative  w-[40px] h-[40px] flex  justify-center items-center rounded-lg z-3
}

.hamburgerContainer{
   @apply w-[60%] h-[4px] bg-white rounded-lg before:content-[""] before:w-full before:h-[4px] before:bg-white before:absolute before:top-2 before:right-[1px] before:rounded-lg after:content-[""] after:bg-white after:w-full after:h-[4px] after:absolute after:bottom-2 after:right-[1px] after:rounded-lg 
}

.hamburgerContainer.swipe{
    @apply w-full h-[5px] bg-transparent absolute rounded-lg before:content-[""] before:w-full before:h-[5px] before:bg-black before:translate-y-[-3px] before:rotate-45 before:absolute before:top-1 before:right-[1px] before:rounded-lg after:content-[""] after:bg-black after:w-full after:h-[5px] after:absolute after:bottom-1 after:right-[1px] after:rounded-lg after:rotate-[-45deg] after:translate-y-1 transition-all 
}

    


.openMenuContainer{
    @apply lg:hidden absolute right-0 left-0 bottom-0 top-0 bg-white w-screen h-screen flex flex-col justify-between pt-[50px] translate-x-[-100%] animate-[slideMenu_0.3s_linear_forwards]
}


@keyframes slideMenu{
    to{
        transform: translateX(100%);
    }
}


.openMenu{
    @apply text-black flex flex-col justify-around items-start w-full h-[50vh] px-7 text-[20px] font-medium 
}

.openMenuElement{
    @apply text-[30px]
}
.openMenuSearchButton{
    @apply w-[80%] h-[6vh] flex justify-center items-center relative ml-3 md:w-[60%] overflow-hidden
}

.openMenuSearchButton input{
    @apply w-full  h-full bg-gray-300 text-black pl-[18%] text-[2em] outline-0 rounded-2xl md:pl-[10%]
}

.openMenuSearchIcon{
    @apply w-[40px] h-[30px] text-black 
}
.searchContainer{
    box-shadow: 0 0 10px rgb(52, 52, 52);
    border-radius: 0 16px 16px 0;
    @apply absolute h-full w-[45px] bottom-0 left-0 top-0 flex justify-center items-center
}

.submitSearch{
    border-radius: 0 15px 15px 0;
    @apply w-[60px] h-full flex justify-center items-center absolute right-0 bg-amber-300
}

.arrowIcon{
    @apply text-black font-medium text-[1.5em]
}
.copyrightContainer{
    box-shadow: 0 0 25px rgb(169, 167, 167);
    @apply text-black flex justify-center items-center w-full h-[10vh] mt-4
}